html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.flexBg {
    background: #2da16f;
    flex: 1 1 auto;
}

.container__flex {
    display: flex;
    justify-content: center;
}

.container__wrapper {
    flex: 6 1 auto;
    display: flex;
    column-gap: 10px;
    padding: 10px 0;
}

.container__wrapper_menuCover {
    display: flex;
    background: #3a0f25;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

.container__wrapper_subWrapper {
    display: flex;
    flex-direction: column;
    flex: 6 1 auto;
}

.container__wrapper_subWrapper_post {
    flex: 1 1 auto;
    background: rgba(120, 120, 225, 0.89);
}

.container__wrapper_subWrapper_post:first-child {
    margin-bottom: 10px;
}

span {
    display: flex;
    align-self: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}