html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100vw;
    height: 100vh;
    row-gap: 20px;
}

.bg {
    background: dodgerblue;
}

.flex {
    flex: 1 1 auto;
}

.wrapper__content {
    display: flex;
    column-gap: 20px;
}

.wrapper__content_widgets {
    background: darkblue;
    flex: 1 1 auto;
}

.wrapper__common {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 18px;
}

.wrapper__footer {
    flex: 2 1 auto;
}