html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    background: rgba(103, 100, 101, 0.62);
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    padding: 10px;
}

.flex {
    display: flex;
}

.common {
    text-align: center;
    font: 30px sans-serif;
    font-weight: bold;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.container__div {
    background: dimgrey;
    flex: 1 1 100%;
    margin-bottom: 10px;
}

.wrapper {
    column-gap: 10px;
}

.wrapper__div_left {
    background: rgba(60, 60, 180, 0.89);
    flex: 2 1 70%;
}

.wrapper__div_right {
    background: #42222e;
    flex: 1 1 30%;
}

span {
    text-transform: capitalize;
    color: #fff;
}
